#window

        {

position: absolute;

left: 200px;

top: 100px;

width: 700px;

height: 290px;

overflow: hidden;

display: none;
   z-index: 100;

}

#windowTop

{

height: 30px;

overflow: 30px;
background:#d7e7ff;

position: relative;

overflow: hidden;

cursor: move;

}

#windowTopContent

{

margin-right: 13px;

background:#d7e7ff;

overflow: hidden;

height: 30px;

line-height: 30px;

text-indent: 10px;

font-family:Arial, Helvetica, sans-serif;

font-weight: bold;

font-size: 14px;

color: #6caf00;

}

#windowMin

{

position: absolute;

right: 25px;

top: 10px;

cursor: pointer;

}

#windowMax

{

position: absolute;

right: 25px;

top: 10px;

cursor: pointer;

display: none;

}

#windowClose

{

position: absolute;

right: 10px;

top: 10px;

cursor: pointer;

}

#windowBottom

{

position: relative;

height: 270px;

background:#d7e7ff;

}

#windowBottomContent

{

position: relative;

height: 270px;

background:#d7e7ff;

margin-right: 13px;

}

#windowResize

{

position: absolute;

right: 3px;

bottom: 5px;

cursor: se-resize;

}

#windowContent

{

position:absolute;

top: 30px;

left: 10px;



overflow: auto;

margin-right: 10px;

border: 1px solid #6caf00;

height: 250px;

width: 680px;
    overflow-y: scroll;

font-family:Arial, Helvetica, sans-serif;

font-size: 11px;

background-color: #fff;

}

#windowContent *

{

margin: 10px;

}

.transferer2

{

border: 1px solid #6BAF04;

background-color: #B4F155;

filter:alpha(opacity=30);

-moz-opacity: 0.3;

opacity: 0.3;

}